<div class="mx-auto sm:max-w-4xl px-4 sm:px-6 lg:px-8">
  <div>
    <%= render 'show_header', simulation: @simulation %>
  </div>

  <div id="<%= dom_id(@simulation) %>" class="sm:flex my-4 sm:my-10">
    <%= turbo_frame_tag dom_id(@simulation.latest_generation),
                        src: polymorphic_path([@simulation, @simulation.latest_generation]),
                        class: 'flex-1 mr-4' do %>
      <!-- Placeholder -->
      <div class="w-full m-auto">
        <div class="w-auto flex flex-col">
          <% 10.times do %>
            <div class="flex flex-row">
              <% 10.times do %>
                <div class="animate-pulse w-full aspect-square flex-1 transition-all duration-100 bg-gray-300 rounded-md shadow focus:outline-none"></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= turbo_frame_tag dom_id(@simulation, 'generations'),
                        src: polymorphic_path([@simulation, :generations]),
                        class: 'bg-white shadow sm:rounded-md sm:max-h-96' do %>
      <ul role="list" class="h-full w-full divide-y divide-gray-200">
        <li class="w-full">Loading</li>
      </ul>
    <% end %>
  </div>

  <%= turbo_stream_from @simulation %>
</div>