<!--
  When the mobile menu is open, add `overflow-hidden` to the `body` element to prevent double scrollbars
  Open: "fixed inset-0 z-40 overflow-y-auto", Closed: ""
-->
<header class="lg:static lg:overflow-y-visible">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="relative flex justify-between lg:gap-8 xl:grid xl:grid-cols-12">
      <div class="flex md:absolute md:inset-y-0 md:left-0 lg:static xl:col-span-2">
        <div class="flex flex-shrink-0 items-center">
          <%= link_to root_path do %>
            <img class="block h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
          <% end %>
        </div>
      </div>
      <div class="min-w-0 flex-1 md:px-8 lg:px-0 xl:col-span-6 py-8 w-full">
      </div>
      <div class="flex items-center md:absolute md:inset-y-0 md:right-0 lg:hidden">
        <!-- Mobile menu button -->
        <button type="button"
                data-navigation-sidebar-target="button"
                data-action="navigation-sidebar#toggle"
                class="-mx-2 inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <svg
            data-navigation-sidebar-target="button_icon_opened"
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg
            data-navigation-sidebar-target="button_icon_closed"
            class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:items-center lg:justify-end xl:col-span-4">

        <!-- Profile dropdown -->
        <div class="relative ml-5 flex-shrink-0" data-controller="dropdown">
          <div>
            <button type="button"
                    data-dropdown-target="button"
                    data-action="click->dropdown#toggle"
                    class="flex rounded-full bg-white focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                    id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="sr-only">Open user menu</span>
              <%= render Navigation::Desktop::UserInfo::Component.new user: current_user %>
            </button>
          </div>

          <div class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
               data-controller="transition"
               data-dropdown-target="panel"
               data-transition-enter-active="transition ease-out duration-100"
               data-transition-enter-from="transform opacity-0 scale-95"
               data-transition-enter-to="transform opacity-100 scale-100"
               data-transition-leave-active="transition ease-in duration-75"
               data-transition-leave-from="transform opacity-100 scale-100"
               data-transition-leave-to="transform opacity-0 scale-95"
               role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <%= link_to 'Sign out', destroy_user_session_path, class: "block py-2 px-4 text-sm text-gray-700", role: "menuitem", tabindex: "-1", data: { "turbo-method": :delete } %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <nav class="lg:hidden hidden bg-white shadow-sm" aria-label="Global"
       data-controller="transition"
       data-navigation-sidebar-target="sidebar"
       data-transition-enter-active="transition ease-out duration-100"
       data-transition-enter-from="transform opacity-0 scale-95"
       data-transition-enter-to="transform opacity-100 scale-100"
       data-transition-leave-active="transition ease-in duration-75"
       data-transition-leave-from="transform opacity-100 scale-100"
       data-transition-leave-to="transform opacity-0 scale-95">
    <div class="pb-3 pt-4">
      <div class="mx-auto flex max-w-3xl items-center px-4 sm:px-6">
        <%= render Navigation::Mobile::UserInfo::Component.new user: current_user %>
      </div>
      <div class="mx-auto mt-3 max-w-3xl space-y-1 px-2 sm:px-4">
        <%= link_to 'Sign out', destroy_user_session_path, class: "block rounded-md py-2 px-3 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900", data: { "turbo-method": :delete } %>
      </div>
    </div>
  </nav>
</header>
